<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Reviews</title>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css')}}" crossorigin="anonymous">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <div>
    <a href="/show" style="width: 33%">Generate WordCloud</a>
    <a href="javascript:history.go(-1)" style="width: 33%">Return to search</a>
    <a href="/getCSV" style="width: 33%">Export Data To CSV.</a>
    </div>
    <div class="container">
        {% for table in tables %}
        <h3>{{ table | safe }}</h3>
        {% endfor %}
    </div>
</body>

</html>