<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Wordcloud</title>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css')}}" crossorigin="anonymous">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
<a href="javascript:history.go(-1)" style="width: 33%">Return to review</a>
<a href="javascript:history.go(-2)" style="width: 33%">Return to search</a>
<div class="text-center word-cloud">
<figure class="figure img-fluid">
    <img src="{{ url_for('static', filename = user_image) }}" class="figure-img img-fluid rounded" alt="...">
    <figcaption class="figure-caption">Wordcloud</figcaption>
  </figure>
</div>
</body>
<style>
    body{
        margin-top: 4%;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
</style>
</html>